.ppwCodeMultiSelect.multiSelectListContainer {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #4C656B;
}

.ppwCodeMultiSelect .multiSelectList {
    background: transparent !important;
}

.ppwCodeMultiSelect .multiSelectList li {
    cursor: pointer;
}

.ppwCodeMultiSelect .multiSelectList li.disabled {
    color: #4C656B;
    -webkit-appearance: 50%;-moz-appearance: 50%;appearance: 50%;
    cursor: default;
}

.ppwCodeMultiSelect .multiSelectList li:last-child {
    border-bottom: none;
}
